// Basic
$white: #fff;
$black: #000;
$grey: #888888;

// Specific
$serenade: #FFF3E6;
$rhino: #2C365D;
$cloud-burst: #242B4C;
$desert-storm: #F2F2F0;
$outrageous-orange: #FF5E3A;
$grey-extra-light: #f3f3f3;
